titolo {
    font-weight: 600;
    font-size: 50;
    color: rgb(52, 58, 64); 
    font-family: fantasy;
}

.bottone {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 9px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

sottotitolo {
    font-weight: 300;
    font-size: 20;
    color: rgb(52, 58, 64); 
    font-family: fantasy;
}

.bordo {
    width: device-width;
    padding: 10px 20px;
    border: 50px solid transparent;
    border-color: rgb(52, 58, 64); ;
}


.labels {
    width: 200px;
    display: inline-block;
}

#griglia {
    padding: 0;
    margin: 0;
}

#container {
    background: #e3e3e3;
    max-width: device-width;
    margin:0 auto;
    padding: 20px;
    text-align: center;
}

#griglia li p {
    padding: 5px 5px 0 5px;
    margin: 0;
    font-size: 12px;
    color: #fff;
}

#griglia li {
    border: 5px solid rgb(52, 58, 64);
    display: inline-block;
    width: 270px;
    margin: 30px;
    background: rgb(52, 58, 64);
    }